<!DOCTYPE html>
<html>
<head>
  <script>
      onDocumentContentReady(3);

  </script>
</head>
<body>
<div class="container">
  <section class="row">
    <p id="banner_hobby">看书太慢^.^</p>
  </section>

  <section class="owl-carousel owl-theme" id="main_hobby">
    <div class="item">
      <div class="item_of_hobby">
        <div>
          <span class="gallery_delete_of_hobby close">&times;</span>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍1</span>
          </div>
        </div>
      </div>
      <div class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍1</span>
          </div>
        </div>
      </div>
      <div class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍1</span>
          </div>
        </div>
      </div>
      <div class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍1</span>
          </div>
        </div>
      </div>
      <div class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍1</span>
          </div>
        </div>
      </div>
      <div id="empty_item_of_hobby">
        <div><p class="fas fa-plus"></p></div>
      </div>
    </div>
    <div class="item">
      <div id="item_of_hobby2" class="item_of_hobby">
        <div>
          <span class="gallery_delete_of_hobby close">&times;</span>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍2</span>
          </div>
        </div>
      </div>
      <div id="item_of_hobby2" class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍2</span>
          </div>
        </div>
      </div>
      <div id="item_of_hobby2" class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍2</span>
          </div>
        </div>
      </div>
      <div id="item_of_hobby2" class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍2</span>
          </div>
        </div>
      </div>
      <div id="item_of_hobby2" class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍2</span>
          </div>
        </div>
      </div>
      <div id="empty_item_of_hobby">
        <div><p class="fas fa-plus"></p></div>
      </div>
    </div>
    <div class="item">
      <div id="item_of_hobby3" class="item_of_hobby">
        <div>
          <span class="gallery_delete_of_hobby close">&times;</span>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍3</span>
          </div>
        </div>
      </div>
      <div id="item_of_hobby3" class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍3</span>
          </div>
        </div>
      </div>
      <div id="item_of_hobby3" class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍3</span>
          </div>
        </div>
      </div>
      <div id="item_of_hobby3" class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍3</span>
          </div>
        </div>
      </div>
      <div id="item_of_hobby3" class="item_of_hobby">
        <div>
          <div class="item_img"></div>
          <div>
            <span>这是栏目介绍3</span>
          </div>
        </div>
      </div>
      <div id="empty_item_of_hobby">
        <div><p class="fas fa-plus"></p></div>
      </div>
    </div>
  </section>
<!--  <button class='fa fa-angle-left fa-5x item_of_hobby_prev'></button>-->
<!--  <button class='fa fa-angle-right fa-5x item_of_hobby_next'></button>-->
<!--  <button class='item_of_hobby_destroy'>破坏</button>-->

</div>
</body>

</html>
