<!DOCTYPE html>
<html>
<script>
    onDocumentContentReady(6);
</script>
<body>
<div class="container">
  <section class="row choose_section_material">
    <div>
      <p class="far fa-square">&nbsp;全部<span class="">&nbsp;</span></p>
    </div>
    <div>
      <p class="fas fa-code">&nbsp;编程<span class="fr-selected-color">&nbsp;</span></p>
    </div>
    <div><p class="fas fa-dollar-sign">&nbsp;英语<span class="">&nbsp;</span></p></div>
    <div><p class="fas fa-book">&nbsp;读书<span class="">&nbsp;</span></p></div>
    <div><p class="fas fa-music">&nbsp;音乐<span class="">&nbsp;</span></p></div>
    <div><p class="fas fa-leaf">&nbsp;植物<span class="">&nbsp;</span></p></div>
    <div><p class="fas fa-paint-brush">&nbsp;画画<span class="">&nbsp;</span></p></div>
    <div><p class="fas fa-dumbbell">&nbsp;健身<span class="">&nbsp;</span></p></div>
    <div><p class="fas fa-dice">&nbsp;游戏<span class="">&nbsp;</span></p></div>

  </section>
  <aside class="col-md-3 hidden-sm hidden-xs" id="material_aside">
    <section id="post_material_section">
      <button class="btn btn-primary btn-block btn-lg fas fa-edit" id="post_material_section_button" data-toggle="modal" data-target="#post_material_modal" onclick="return false">
        发布素材
      </button>
    </section>
    <hr/>
    <section id="search_material_section">
      <p class="glyphicon glyphicon-search"> 搜索素材</p>

      <!--      <select class="form-control" id="select_search_micropost_method">-->
      <!--        <option value="select_by_time_range" selected="selected">按时间段选择</option>-->
      <!--        <option value="select_by_key_word">按关键字选择</option>-->
      <!--      </select>-->
      <hr/>
      <form id="select_search_material_form">
        <div class="form-group">
          <label><span class="glyphicon glyphicon-time"></span>
            开始时间:</label><input class="form-control" id="select_search_material_date_start" type="date">
        </div>
        <div class="form-group">
          <label><span class="glyphicon glyphicon-time"></span>
            结束时间:</label><input class="form-control" id="select_search_material_date_end" type="date">
        </div>
        <div class="form-group">
          <label><span class="	glyphicon glyphicon-pencil"></span> 请输入关键字:</label>
          <input class="form-control" id="select_search_material_key_word" type="text">
        </div>
        <hr>
        <button class="btn btn-success btn-block" type="submit">提交</button>
      </form>
      <button class="btn btn-success btn-block" data-toggle="modal" data-target="#search_material_modal" style="margin-top: 1rem;" onclick="return false">查看搜索模态</button>
    </section>
  </aside>

  <div class="modal fade" id="post_material_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span class="glyphicon glyphicon-pencil"> 发表素材</span>
          </div>
          <div class="modal-body">
            <select class="selector_material_modal form-control">
              <option>编程</option>
              <option>英语</option>
              <option>读书</option>
              <option>音乐</option>
              <option>画画</option>
              <option>植物</option>
              <option>健身</option>
            </select>
            <input class="form-control" placeholder="请输入素材标题..." required>
            <textarea class="form-control" maxlength="140" placeholder="发布素材..." required></textarea>
            <input class="form-control" placeholder="输入素材链接...">

          </div>
          <div class="modal-footer">
            <!--            <span class="glyphicon glyphicon-picture" id="modal_choose_img"> 选择图片</span>-->
            <button class="btn btn-primary" type="submit">发布</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="modal fade" id="search_material_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p class="glyphicon glyphicon-search"> 搜索素材</p>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label><span class="glyphicon glyphicon-time"></span>
                开始时间:</label><input class="form-control" id="select_search_material_date_start" type="date">
            </div>
            <div class="form-group">
              <label><span class="glyphicon glyphicon-time"></span>
                结束时间:</label><input class="form-control" id="select_search_material_date_end" type="date">
            </div>
            <div class="form-group">
              <label><span class="glyphicon glyphicon-pencil"></span> 请输入关键字:</label>
              <input class="form-control" id="select_search_material_key_word" type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit">提交</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <article class="col-md-9 col-sm-12" id="material_main">
    <section class="row" id="material_main_title">
      <span class="fas fa-chevron-left" id="material_main_title_back"></span><span>素材 <span>123</span></span>
    </section>
    <section class="row" id="material_main_content_section">
      <div class="material_main_content" title="http://www.baidu.com">
        <div><p class="material_main_content_title">ROR教程第5版</p>
          <p class="material_main_content_content">ROR教程第5版,由外国人编写,内容包括了脚手架程序,ruby基础,以及一个微博项目,并搭建于heroku生产环境中,并可以进行公有访问</p>
          <span class="material_main_content_time">2019-12-12 12:12:12</span>
        </div>

      </div>
      <div class="material_main_content" title="http://www.baidu.com">
        <div><p class="material_main_content_title">ROR教程第5版ROR教程第5版ROR教程第5版</p>
          <p class="material_main_content_content">ROR教程第5版,由外国人编写,电子版请点击这里</p>
          <span class="material_main_content_time">2019-12-12 12:12:12</span>
        </div>
      </div>
      <div class="material_main_content" title="http://www.baidu.com">
        <div><p class="material_main_content_title">ROR教程第5版</p>
          <p class="material_main_content_content">ROR教程第5版,由外国人编写,电子版请点击这里</p>
          <span class="material_main_content_time">2019-12-12 12:12:12</span>
        </div>
      </div>
      <div class="material_main_content" title="http://www.baidu.com">
        <div><p class="material_main_content_title">ROR教程第5版</p>
          <p class="material_main_content_content">ROR教程第5版,由外国人编写,电子版请点击这里</p>
          <span class="material_main_content_time">2019-12-12 12:12:12</span>
        </div>
      </div>
      <div class="material_main_content" title="http://www.baidu.com">
        <div><p class="material_main_content_title">ROR教程第5版</p>
          <p class="material_main_content_content">ROR教程第5版,由外国人编写,电子版请点击这里</p>
          <span class="material_main_content_time">2019-12-12 12:12:12</span>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <div id="article_paginate">
      <span id="article_paginate_first_page">首页</span>
      <span id="article_paginate_prev_page">上一页 </span>
      <span id="article_paginate_number">[1] [2] [3] ... [100] </span>
      <span id="article_paginate_next_page">下一页 </span>
      <span id="article_paginate_end_page">末页 </span>
      <span id="article_paginate_skip">跳转:<input id="article_paginate_skip_page" type="text"></span>
    </div>
    <section id="micropost_empty">
    </section>
    <p>没有素材！</p>
  </article>

</div>
</body>
</html>