<!DOCTYPE html>
<html>
<head>
  <script>
      onDocumentContentReady(5);
  </script>
</head>
<body>
<div class="container">
  <section class="row post_messageboard">
    <p>发表您的留言</p>
    <form>
      <div>
        <div class="form-group"><label>昵称</label>
          <input class="form-control post_name_messageboard" placeholder="输入您的昵称"></div>
        <div class="form-group">
          <label>邮箱</label>
          <input class="form-control post_email_messageboard" placeholder="输入您的邮箱"></div>
      </div>

      <textarea class="form-control" placeholder="填写留言..."></textarea>
      <button class="btn btn-default" type="submit">提交</button>
    </form>
  </section>
  <div class="modal" id="write_message_modal">
    <div class="modal-dialog">
      <div class="modal-header">
        <p>发表您的留言</p>
      </div>
      <form>
        <div class="modal-body">
          <input class="form-control post_name_messageboard" placeholder="输入您的昵称">
          <input class="form-control post_email_messageboard" placeholder="输入您的邮箱">
          <textarea class="form-control" placeholder="填写留言...">
      </textarea>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="submit">提交</button>
        </div>
      </form>
    </div>
  </div>


  <section class="main_title_messageboard">
    <span class="fas fa-chevron-left" id="main_title_back"></span><span>留言 <span>123</span></span>
  </section>
  <section class="main_content_messageboard">
    <div class="media">
      <div class="media-left">
        <%= image_tag 'dictionary.png' %>
      </div>
      <div class="media-body">
        <p class="media-heading" id="messageboard_username">
          这是名字<span><span class="delete_content_messageboard">删除</span> <span class="time_content_messageboard">2019-12-12 12:12:12</span></span>
        </p>
        <p id="messageboard_content">
          这是内容这是内容这是内容这是内容这是内容这是内容这是内容
          这是内容这是内容这是内容这是内容这是内容这是内容这是内容
          这是内容这是内容这是内容这是内容这是内容这是内容这是内容
          这是内容这是内容这是内容这是内容这是内容这是内容这是内容
          这是内容这是内容这是内容这是内容这是内容这是内容这是内容
        </p>
      </div>
    </div>
    <div class="hr_content_messageboard">
    </div>
  </section>
  <section class="main_content_messageboard">
    <div class="media">
      <div class="media-left">
        <%= image_tag 'dictionary.png' %>
      </div>
      <div class="media-body">
        <p class="media-heading" id="messageboard_username">
          这是名字<span><span class="delete_content_messageboard">删除</span> <span class="time_content_messageboard">2019-12-12 12:12:12</span></span>
        </p>
        <p id="messageboard_content">
          这是内容这是内容这是内容这是内容这是内容这是内容这是内容
        </p>
      </div>
    </div>
    <div class="hr_content_messageboard">
    </div>
  </section>
  <div id="article_paginate">
    <span id="article_paginate_first_page">首页</span>
    <span id="article_paginate_prev_page">上一页 </span>
    <span id="article_paginate_number">[1] [2] [3] ... [100] </span>
    <span id="article_paginate_next_page">下一页 </span>
    <span id="article_paginate_end_page">末页 </span>
    <span id="article_paginate_skip">跳转:<input id="article_paginate_skip_page" type="text"></span>

  </div>
  <section id="article_empty">
  </section>
  <p>没有留言！</p>
</div>
</body>
</html>