<!DOCTYPE html>
<html>
<body>
<div class="container">
  <section class="row">
    <div class="header_profile">
      <div class="avatar_header_profile"></div>
      <span class="name_header_profile"></span><span class="sex_header_profile"></span>
      <span class="birthday_header_profile"></span><span class="constellation_header_file"></span>
      <br>
      <p class="say_words_profile">天天开心!</p>
    </div>
  </section>
</div>

</body>

<script>
    onDocumentContentReady(4);
</script>
</html>
