<div class="avatar_item" name="<%= index %>" onclick="chooseAvatar(this,'<%= index%>');">
  <%= image_tag "pokemon/#{index}" %>
  <div class="avatar_choose">
    <span class="fas fa-check"></span>
  </div>
</div>

