<h1>登录密码重置</h1>
<p><%= @user.name %>,你好:</p>
<p>这是你在fanqi-personal-website中的登录密码重置邮件.</p>
<p>有效期为两个小时.</p>
<p>请点击下面的链接重置密码.</p>
<%= link_to edit_password_reset_url(@user.reset_password_token, email: @user.email),
            edit_password_reset_url(@user.reset_password_token, email: @user.email) %>