<!DOCTYPE html>
<html>
<script>
    onDocumentContentReady(2);
</script>
<body>
<article class="col-xs-12" id="article_main">
  <section class="row" id="article_main_title">
    <span class="fas fa-chevron-left" id="main_title_back"></span><span>编辑日志 </span>
  </section>
  <article id="article_write_div">
    <form class="form-inline">
      <section class="row">
        <!--        <label id="article_title">标题:</label>-->
        <input class="form-control" type="text" placeholder="请在这里输入标题">
      </section>
      <section class="row">
        <div id="article_editor"></div>
      </section>
      <section class="row">
        <button class="btn btn-primary" type="submit">发表文章</button>
        <button class="btn btn-info " type="button">保存草稿</button>
        <p>在2019-12-12 12:12:12时保存成功</p>
      </section>
    </form>
  </article>
</article>
</body>
</html>
