<!DOCTYPE html>
<html>
<script>
    onDocumentContentReady(2);
</script>
<body>
<div class="container">
  <article class="col-xs-12" id="article_main">
    <section class="row" id="article_main_title">
      <span class="fas fa-chevron-left" id="main_title_back" style="display:inline-block" onclick="onClickGotoDiaryHome('<%= diaries_path%>')">
      </span><span>查看日志 </span>
    </section>
  </article>
</div>
</body>
</html>