<!DOCTYPE html>
<html>
<body>
<%= provide :sub_title, "注册" %>
<div id="register_success_body">
  <div class="container">
    <%= render 'shared/flash' %>
    <div class="register_success_content">
      <div class="bg_image_div">
        <%= image_tag 'congratulation.png' %>
      </div>
    </div>
  </div>
</div>
</body>
<script>
    onDocumentContentReadyNotMenu(-1);
    onRegisterSuccessfully('<%= login_path+'#login_title' %>');
</script>
</html>