<% if object.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= "请检查表单的错误哦～" %>
    </div>
    <%= object.errors.details.collect.to_a %>
    <%= object.errors.messages.collect.to_a %>
    <%# p object.errors.details.collect.to_a %>
    <%# p object.errors.messages.collect.to_a %>
    <ul>
      <% object.errors.messages.each do |k, v| %>

        <%# v.collect do |msg| %>
        <%#= msg + '' %>
        <%# end %>
        <% if !v.empty? %>
          <li><%= v[0] %></li>
        <% end %>

      <% end %>
    </ul>
  </div>
<% end %>