<% flash.each do |k, v| %>
  <div class="flash_tips">
    <div class="alert alert-<%= k %>">
      <span><%= v %></span>
      <a href='#' class="close" data-dismiss="alert">&times;</a>
    </div>
  </div>
<% end %>