<div class="hobby_selected_picture_item">
  <%= image_tag "" %>
  <span class="hobby_selected_picture_item_name">这是图片12515515111111111111111名字</span>
  <!--  <a class="hobby_selected_picture_item_close fas fa-times close" onclick="onDeleteSelectImage(this);"></a>-->
  <div class="hobby_selected_picture_bar">
    <div class="hobby_selected_picture_bar_progress_bg">
      <div class="hobby_selected_picture_bar_progress"></div>
      <div class="hobby_selected_picture_bar_tips">准备中</div>
    </div>
  </div>
</div>