<div id="hobby_empty_item">
  <div>
    <div class="hobby_empty_item_texts" onclick="location.href='<%= new_hobby_path%>'">
      <p class="fas fa-plus"></p>
      <p>增加新的画廊</p></div>
  </div>
</div>
