<div class="swiper-slide hobby_gallery_item" style="background-image: url('<%= item.image.url%>')">
  <div class="hobby_gallery_item_title"><%= item.title %></div>
  <div class="hobby_gallery_item_content"><%= item.content %></div>
</div>