// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import 'bootstrap-sprockets';
@import 'froala_editor.min';
@import 'froala_style.min';
@import 'plugins/colors.min';
@import 'plugins/char_counter.min';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'owl.carousel';
@import 'owl.theme.default';
@import 'social-share-button';

$bootstrap-pill-blue: #337ab7;
$footer_background: #2d2d2d;
$footer_index_gray: #b6b6b6;
$footer_index_dark_gray: #4e4e4e;
$home-icon-intro: #ffc09f;
$home-content-intro: #666;
$header-xs-list: #666;
$micropost_time: #737350;

$all_1: #ddd;
$code_2: #8dc3ea;
$english_3: #a3a380;
$read_4: #cfd0bc;
$music_5: #7296e5;
$paint_6: #6fc018;
$plant_7: #ef5e87;
$fitness_8: #34352c;
$game_9: #dfce73;

$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

@media (min-width: $lg-width) {
  html {
    font-size: 10px;
    .modal {
      width: 1170px;
      margin: auto;

    }
  }

}

@media (max-width: $lg-width) and (min-width: $md-width) {

  html {
    font-size: 9px;
    .modal {
      width: 970px;
      margin: auto;
    }
  }
}

@media (max-width: $md-width) and (min-width: $sm-width) {
  html {
    font-size: 8px;
    .modal {
      width: 750px;
      margin: auto;
    }
  }

}

@media (max-width: $sm-width) {
  html {
    font-size: 7px;
  }
  //.container{
  //  padding-left:1rem;
  //  padding-right:1rem;
  //}
}

//头尾样式
#logo_static_pages, #nav_static_pages {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  cursor: pointer;
}

//弹出提示样式
.tooltip {
  .tooltip-inner {
    background-color: #444;
  }
  .tooltip-arrow {
    border-top-color: #444 !important;
  }

}

//缓慢加载图片
.bg_image_div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    //width: auto;
    //height: auto;
    //max-width: 100%;
    //max-height:100%;
    image-rendering: smooth;
    position: relative;
    object-fit: cover;
    object-position: left top;
  }
}

#logo_static_pages {
  display: inline-block;
  line-height: 0.8;
  font-size: 4.5rem;
  #name1 {
    color: $bootstrap-pill-blue;
  }
  #name2 {
    color: lightgray;
  }
}

#nav_static_pages {
  font-size: 2.4rem;
  margin-top: 3rem;
}

#nav-xs-static-pages {
  position: fixed;
  right: 2rem;
  top: 2rem;
  float: left;
  z-index: 10;
  text-align: center;
  width: 8rem;
  height: 8rem;
  border: 0.15rem solid white;
  border-radius: 8rem;
  background-color: $bootstrap-pill-blue;
  box-shadow: 1px 1px 0.5rem gray;
  span {
    position: relative;
    top: 50%;
    transform: translateY(-53%);
    font-size: 4rem;
    color: white;
  }
}

#nav-xs-list-static-pages {
  display: none;
  position: fixed;
  right: 4rem;
  top: 4rem;
  z-index: 9;
  float: left;
  padding: 0;
  height: 60%;
  width: 25rem;
  overflow: auto;
  opacity: 0.7;
  background-color: white;
  border: 1px solid lightgray;
  li {
    font-size: 3.5rem;
    list-style: none;
    margin: 2rem 4rem 2rem;
    cursor: pointer;
    a {
      margin-left: 2rem;
      text-decoration: none;
      color: $header-xs-list;

    }
    &.active {
      * {
        color: $bootstrap-pill-blue;
      }
    }
    //.active {
    //  span, a {
    //  }
    //}
  }
}

#footer_static_page {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  //margin-top: 3rem;
  background-color: $footer_background;
  .container {
    div {
      text-align: center;
      font-size: 2rem;
      color: $footer_index_dark_gray;
      &:first-child {
        color: $footer_index_gray;
        a {
          text-decoration: none;
          color: $footer_index_gray;
          &:hover {
            color: $bootstrap-pill-blue;
          }
        }
      }
      a {
        text-decoration: none;
        color: $footer_index_dark_gray;
        &:hover {
          color: $bootstrap-pill-blue;
        }
      }
    }
  }
}

#banner_img_static_page {
  position: relative;
  right: 0;
  left: 0;
  width: 100%;
  img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: left top;
    height: 20rem;
    @media (min-width: $sm-width) {
      height: 30rem;
    }
    @media (min-width: $md-width) {
      height: 35rem;
    }
  }
}

//首页样式
#intro_home {
  margin: 2rem 0;
  @media(min-width: $sm-width) {
    margin: 5rem 0 10rem;
  }
  > div {
    .icon-intro-home {
      display: none;
      @media(min-width: $sm-width) {
        display: block;
        margin: auto;
        text-align: center;
        width: 10rem;
        height: 10rem;
        border-radius: 6rem;
        color: white;
        background-color: $home-icon-intro;
        span {
          display: inline-block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          font-size: 6rem;
        }
      }
    }
    .title-intro-home {
      display: flex;
      justify-content: center;
      //text-align: center;
      margin: 1rem auto auto;
      width: 100%;
      line-height: 2;
      font-size: 2.4rem;
      font-weight: bold;
      color: #bf805f;
      @media (min-width: $sm-width) {
        color: #555;
        margin: 2rem auto auto;
      }
      .icon-intro-home_micro {
        position: relative;
        display: inline-block;
        //text-align: center;
        width: 2.4rem;
        height: 2.4rem;
        line-height: 4.8rem;
        border-radius: 50%;
        color: white;
        background-color: #bf805f;
        //top: 50%;
        transform: translate(-50%,30%);
        //margin-right: 1rem;
        span {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5rem;
        }
        @media(min-width: $sm-width) {
          display: none;
        }
      }
    }
    .content-intro-home {
      line-height: 1.5;
      color: $home-content-intro;
      font-size: 1.8rem;
      a {
        color: $home-content-intro;
      }
    }
  }
  //div+div:before{
  //  display:inline-block;
  //  content:"";
  //  height:50px;
  //  width:1px;
  //  border:1px solid #eee;
  //}
}

.cite_block_home {
  margin-top: 2rem;
  margin-bottom: 0;
  @media(min-width: $sm-width) {
    margin-top: 5rem;

  }
  padding-bottom: 0;
  line-height: 0.5;
  border-left-color: $bootstrap-pill-blue;
  p {
    line-height: 0.5;
    color: $bootstrap-pill-blue;
    font-size: 3rem;
  }
  small {
    font-size: 1.4rem;
  }
}

#content_home {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media(min-width: $sm-width) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  > div {
    > div {
      padding-bottom: 33.333333333333%;
      border: 0.5rem solid transparent;
      > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        overflow: hidden;
        background-size: cover;
        border-radius: 3rem;
        &:hover {
          box-shadow: 1px 1px 1.5rem gray;
        }
      }
      #micropost_content_home {
        //background-image: image_url("tips2.png");
        //position:relative;
        color: $micropost_time;
        overflow: hidden;

        p {
          font-size: 1.3rem;
          margin: 26% 20% 10% 17%;
          height: 41%;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          #micropost_content_first_word_home {
            font-size: 3rem;
            height: 3rem;
            display: inline-block;
            float: left;
            margin-top: -2%;
            vertical-align: top;
            color: #535330;
          }
        }
        #micropost_time_home {
          font-size: 1.2rem;
          display: block;
          margin-left: 33%;
          margin-right: 13%;
          padding-top: 3%;
          width: 50%;
          border-top: 0.15rem dotted $micropost_time;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      #article_home {
        //background-image: image_url("notebook4.png");
        #article_title_home {
          margin: 16% 23% 1% 25%;
          font-size: 1.2rem;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: keep-all;
          width: 50%;
          font-weight: bold;

        }
        #article_content_home {
          font-size: 1rem;

          margin: 0% 23% 3% 25%;
          height: 55%;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        #article_time_home {
          margin: 0% 23% 15% 25%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 1rem;
          font-weight: bold;
        }
      }
      #message_board_home {
        color: #cecece;
        //background-image: image_url("messageboard5.png");

        #message_board_name_home {
          font-size: 1.2rem;

          margin: 39% 17% 0.4% 21%;
        }
        #message_board_content_home {
          font-size: 1rem;

          margin: 0% 17% 0 21%;
          height: 25%;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        #message_board_time_home {
          font-size: 1rem;

          margin: 2% 17% 15% 40%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

        }
      }
      #materials_home {
        #materials_img_home {
          height: 61.8%;
          //background-image: image_url('materials.png');
          //background-size: cover;
          .bg_image_div {
            img {
              height: 61.8%;
            }
          }
        }
        #materials_content_home {
          height: 38.2%;
          background-color: #a88e6b;
          text-align: center;
          p {
            font-size: 1.6rem;
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            -webkit-transform: translateY(-100%);
            top: 50%;
            width: 80%;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: white;
            overflow: hidden;

          }
        }
      }

      #games_img_1_home {
        .bg_image_div {
          z-index: 0;
        }
        border: solid 1px #eee;
        //p {
        //margin-top: 3rem;
        //height: 100%;
        //text-align: center;
        //font-size: 2rem !important;
        //color: #666;
        //background-image: -webkit-linear-gradient(left, #5aa, #aa5); /* Safari 5.1 - 6.0 */
        //background-image: -o-linear-gradient(right, #5aa, #aa5); /* Opera 11.1 - 12.0 */
        //background-image: -moz-linear-gradient(right, #5aa, #aa5); /* Firefox 3.6 - 15 */
        //background-image: linear-gradient(to right, #5aa, #aa5); /* 标准的语法 */
        //-webkit-background-clip: text;
        //-webkit-text-fill-color:transparent;
        //@media(min-width: $sm-width) {
        //  font-size: 4rem !important;
        //}
        //}
        background: -webkit-linear-gradient(left, #dda, #add); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, #dda, #add); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, #dda, #add); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, #dda, #add); /* 标准的语法 */
      }
    }

  }
}

//微博,日志侧边样式

#micropost_aside, #article_aside, #material_aside {

  position: sticky;
  position: -webkit-sticky;
  margin-bottom: 3rem;
  top: 0;
  #post_micropost_section, #post_article_section, #material_post_section {
    margin-top: 2rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    border: 1px solid lightgray;
    > *:nth-child(2) {
      margin-top: 2rem;
      #draft_article_section_button {
        &:before {
          margin-right: 1rem;
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    width: 95%;
    top: 5%;
    .modal-content {
      .modal-header {
        padding: 2rem;
        button.close {
          font-size: 3rem;
        }
        span, p {
          font-size: 3rem;
          color: #555;
        }
      }
      .modal-body {
        margin: auto 1rem;
        select {
          height: 4rem;
          margin-bottom: 2rem;
          width: 50%;
        }

        textarea {
          font-size: 2rem;
          resize: none;
          height: 30rem;
          //width:80%;
          margin-bottom: 2rem;
        }
        label {
          line-height: 1;
          margin-bottom: 2.5rem;
          font-size: 2rem;
        }
        input {
          font-size: 3rem;
          height: 5rem;
          margin-bottom: 2.5rem;
        }
      }
      .modal-footer {
        * {
          margin: 0.5rem;
        }
        span {
          font-size: 2rem;
          color: #555;
          display: inline-block;
          position: relative;
          &:before {
            margin-right: 0.5rem;
          }
          input {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            opacity: 0;
            //height:100%;
          }
        }
        .modal_choose_filename {
          width: 10rem;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: keep-all;
          @media(min-width: $sm-width) {
            width: 15rem;
          }
        }
        button {
          border-radius: 2rem;
          font-size: 2rem;
          width: 20%;
          span {
            color: #fff;
          }
        }
      }
    }
  }
}

.search_section {
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 1rem 1rem 3rem 1rem;
  p:first-child {
    margin-top: 1rem;
    color: #666;
    font-size: 1.6rem;
    font-weight: bold;
  }

  label {
    color: #777;
  }
}

#micropost_footer, #article_footer, #material_footer {
  margin-bottom: 8rem;
  z-index: 11;
  position: relative;
  div {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: #eee;
    button {
      &:focus {
        outline: none;
      }
      background: none;
      border: none;
      transform: translateY(20%);

    }
    a {
      text-decoration: none;
    }
    div, a {
      transform: translateY(-30%);
    }
    div, button, a {
      float: left;
      display: inline-block;
      height: 100%;
      position: relative;
      top: 50%;
      width: 50%;
      p {
        font-size: 2rem;
        color: #555;
        display: block;
        text-align: center;
      }
    }
  }
}

//微博正文,日志,素材列表样式

#micropost_main, #material_main, #article_main {
  margin-bottom: 5rem;
}

#micropost_main, #article_main {
  .main_title_flash {
    .flash_tips {
      padding-top: 2rem;
    }
  }
}

#micropost_main_title, #article_main_title, .message_main_title, #material_main_title {
  font-size: 2.5rem;
  border-bottom: 0.1rem solid lightgray;
  position: sticky;
  position: -webkit-sticky;

  z-index: 8;
  top: -1px;
  background-color: white;
  #main_title_back {
    cursor: pointer;
  }
  > span {
    display: inline-block;
    padding: 2rem 0.5rem 0.5rem 2rem;
    color: $bootstrap-pill-blue;
  }
  > span:nth-child(1) {
    display: none;
  }
  > span:nth-child(2) {
    border-bottom: 0.1rem solid $bootstrap-pill-blue;
    cursor: pointer;
    > span {
      vertical-align: middle;
      color: #539ad7;
      font-size: 1.8rem;

    }
  }
  .main_title_search_factors {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    //padding-bottom: 1rem;
    form {
      display: inline-block;
    }
    button {
      //float:left;
      //display:inline-block;
      border: none;
      background: #444;
      border-radius: 2rem;
      padding: 0.8rem;
      //cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      font-family: "微软雅黑";
      line-height: 1.2rem;
      i {
        margin-right: 0.3rem;
      }
      //display:none;
    }
    button:nth-child(3) {
      max-width: 30%;
      @media (min-width: $sm-width) {
        max-width: 60%;
      }
    }
    button:hover {
      background: tomato;
      transition: all 0.15s ease-in-out;
    }

  }

}

.micropost_main_content {
  border: 0.1rem solid #dfdfdf;
}

.article_main_content {
  cursor: pointer;
  border-bottom: 0.1rem dashed #aaa;
}

.micropost_main_content, .article_main_content {
  background-color: #fefefe;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.micropost_main_comments_with_edit {
  display: none;
  background-color: #fff;
}

.comment_editor_div {
  display: block;
}

.micropost_main_comments_with_edit, .comment_editor_div {
  .comments_edit_form_div {
    display: block;
    padding: 2rem;
    background-color: #fafafa;
    text-align: center;
    border-radius: 1rem;
    .comments_edit_form_text_area {
      float: left;
      height: 9rem;
      width: 95%;
      resize: none;
      background-color: #fafafa;
      margin-bottom: 1.5rem;
      @media(min-width: $sm-width) {
        width: 70%;
        margin-bottom: 0;
      }
    }
    .comments_edit_form_name_field {
      display: inline-block;
      width: 70%;
      height: 3rem;
      @media (min-width: $sm-width) {
        width: 25%;
        margin-bottom: 1.5rem;

      }
      input {
        font-size: 1.5rem;
        background-color: #fafafa;
        width: 70%;
        float: left;
        height: 4rem;
        margin-top: 0;
        @media(min-width: $sm-width) {
          height: 3rem;
        }
      }
      button {
        background: none;
        border: none;
        color: #666;
        height: 4rem;
        width: 4rem;
        @media(min-width: $sm-width) {
          height: 3rem;
          width: 3rem;
        }
      }
    }
    .btn {
      width: 25%;
      display: inline-block;
      @media (min-width: $sm-width) {
        width: 25%;
      }
    }
  }
  .micropost_comment_item_with_more {
    > * {
      background-color: #f6f6f6;
      border: 0.3rem solid #fff;
      border-radius: 1rem;
    }
    button {
      background: none;
      border: none;
    }
    a {
      text-decoration: none;
    }
    .micropost_comments_more {
      font-size: 1.6rem;
      color: gray;
      text-align: center;
      margin-bottom: 0.8rem;
      padding: 1.5rem;
      display: block;
      margin: auto;
    }
  }
}

//所有媒体的样式,微博和留言
.media {
  padding: 1rem 1.5rem;
  .media-left {

    .media-object {
      //background-image: url("avatar.jpg");
      //background-size: cover;
    }
    .micropost_content_avatar {
      border-radius: 0.5rem;
      height: 6rem;
      width: 6rem;
      img {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
      }
    }
    .micropost_comments_avatar {
      border-radius: 0.25rem;
      height: 3rem;
      width: 3rem;
      img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
      }
    }
  }
  .media-body {
    //width:100%;
    .media-heading {
      color: #333;
      span {
        > * {
          display: inline;
        }
      }
    }
    .article_title {
      font-size: 2.5rem;
      * {
        display: inline-block;
        float: right;
      }
      span, button {
        font-size: 1.6rem;
        color: #999;
      }
      button {
        border: none;
        background: none;
      }
    }
    .micropost_content_username, #comment_username {
      font-size: 2rem;
      > span {
        float: right;
        color: #666;
        font-size: 1.6rem;
        .comment_delete {
          display: inline;
          border: none;
          background: none;
          cursor: pointer;
          &:hover {
            color: $bootstrap-pill-blue;
          }
        }
      }
    }

    .micropost_comments_username {
      font-size: 1.6rem;
    }
    .article_content {
      font-size: 1.7rem;
      color: #666;
    }
    .micropost_content_content, #comment_content {
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-line;
      font-size: 1.8rem;
      color: #666;
    }
    .micropost_content_img, .micropost_content_video {
      max-height: 30rem;
      max-width: 30rem;
      z-index: 0;
      @media(min-width: $sm-width) {
        max-height: 40rem;
        max-width: 40rem;
      }
    }
    .micropost_comments_content {
      font-size: 1.6rem;
      color: #666;
      white-space: pre-line;
      word-break: break-all;
    }
    .micropost_edit_items {
      span, button {
        &:before {
          margin-right: 0.2rem;
        }
        vertical-align: middle;
        color: #777;
        float: right;
        cursor: pointer;

      }
      button {
        border: none;
        background: none;
        //padding:0;
      }
      .micropost_post_time {
        cursor: default;
      }
    }
    .micropost_content_edit_items {
      button {
        padding-bottom: 2px;
      }
      span, button {
        font-size: 1.5rem;
        margin: 1rem 1rem 0 1rem;
        height: 1.7rem;
      }
    }
    .micropost_comments_edit_items {
      span, button {
        font-size: 1.3rem;
        margin: 0.5rem 1rem 0 1rem;
        height: 1.5rem;
      }
    }
    & + hr {
      border-top: 1px solid #d3d3d3;
      margin-bottom: 0.5rem;
    }
  }
}

#micropost_content_more {
  font-size: 2rem;
  color: gray;
  text-align: center;
  background: none;
  border: none;
  display: block;
  margin: auto;
  margin-top: 2rem;

}

.hobby_group_empty {
  text-align: center;
  margin-top: 5rem;
  img {
    width: 80% !important;
    margin: auto;
    @media(min-width: $sm-width) {
      width: 50% !important;
    }
  }
  p {
    color: #664;
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0;
  }
}

#micropost_empty, #article_empty, #message_empty {
  //background-image: image_url("empty_box2.png");
  //background-image: url("empty_box2.jpg");
  //background-size: cover;
  position: relative;
  width: 70%;
  margin-top: 10rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 70%;
  & + p {
    color: #888;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10rem;
  }
}

//日志分页
#article_paginate {
  display: table;
  margin: 2rem auto;
  span {
    font-size: 2rem;
    input {
      width: 5rem;
    }
  }
}

//写日志页面
#article_write_div {
  //display: none;
  #article_write_title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    //position:sticky;
    //top:7rem;
    //z-index: 8;
    //background-color: white;
    //label {
    //  font-size: 3rem;
    //  color:#666;
    //}
    input {
      display: table;
      text-align: center;
      margin: auto;
      width: 80%;
      font-size: 3rem;
      height: 5rem;
    }
  }
  #article_write_editor {
    min-height: 30rem;

  }
  #article_write_submits {
    margin-top: 2rem;
    button, p {
      float: right;
      margin-left: 2rem;
    }
    p {
      font-size: 1.5rem;
      color: red;
      font-weight: bold;
      line-height: 4rem;
    }
  }
}

//日志项目显示
.article_show_title_div {
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  #article_show_title {
    font-size: 3.5rem;
    //color: #555;
    color: #677;
  }
  #article_show_created_time, #article_show_reads {
    font-size: 1.4rem;
    color: #788;
  }
}

.article_show_edits_page_change {
  display: inline-block;
  color: #ddd;
  > span {
    font-size: 1.8rem;
    color: #cca;
    margin-left: 2rem;
  }
}

.article_show_edits {
  color: #ddd;
  line-height: 2rem;
  height: 2rem;
  letter-spacing: 0;
  * {
    display: inline-block;
  }
  button {
    background: none;
    border: none;
  }
  span, a, button {
    cursor: pointer;
    box-sizing: content-box;
    color: #9aa;
    font-size: 2rem;
    margin: 0;
    border-left: solid 1px #ccc;
    padding: 0 1.5rem;
    vertical-align: top;
  }
  .article_show_edits_page_next, .article_show_edits_page_prev {
    color: #788;
    float: right;
    padding: 0 0.8rem;
  }

}

.article_show_content {
  position: relative;
  border-radius: 2rem;
  background-color: #fafaf8;
  padding: 3rem 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  @media (min-width: $sm-width) {
    padding: 4rem 3rem;
  }
  .article_show_content_title {
    font-size: 3rem;
    text-align: center;
    display: none;
    color: #666;
    @media (min-width: $sm-width) {
      margin-top: 2rem;
      margin-bottom: 4rem;
      display: block;
    }
  }
  .article_show_content_content {
    min-height: 50rem;
    word-break: break-all;
  }
  .article_show_modified_time {
    margin: 1rem;
    display: inline-block;
    float: right;
    font-size: 1.6rem;
    color: #aaa;
    @media(min-width: $sm-width) {
      margin: 3rem;
    }
  }
}

.article_show_comments {
  font-size: 2rem;
  background-color: #9aa;
  border-radius: 1rem;
  padding: 2rem;
  color: #fff;
}

//froala编辑器
.fr-wrapper > div[style*='z-index: 9999'] {
  position: absolute;
  top: -10000px;
  opacity: 0;
  height: 0;
}

//修复不能正确显示的颜色选中图标
.fr-selected-color {
  font-weight: bold !important;
  font-family: 'Font Awesome 5 Free' !important;
}

//修改工具栏浮动位置
.fr-sticky-on, .fr-sticky-off {
  position: sticky !important;
  position: -webkit-sticky !important;

  //top: 5.8rem !important;
  top: 5.8rem !important;

}

//娱乐版块
#hobby_banner, #hobby_new_banner {
  font-size: 2.5rem;
  font-family: "黑体";
  font-weight: 900;
  color: transparent;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), #000 image_url("timg_2.png") no-repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-position: center center;
  margin-top: 3rem;
  //padding-bottom: ;
}

#hobby_group {
  margin-bottom: 5rem;
}

.hobby_group_items {
  min-height: 50rem;
}

#hobby_empty_item, .hobby_group_sub_item {
  display: inline-block;
  float: left;
  width: 33.3333%;
  padding-bottom: 25%;
  @media (max-width: $md-width) {
    width: 50%;
    padding-bottom: 37.5%;
  }
  position: relative;
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 0.8rem;
    @media(min-width: $sm-width) {
      margin: 1.5rem;
    }
  }
}

.hobby_group_sub_item {

  > div {
    border: solid 1px #ddd;
    &:hover {
      box-shadow: 0 0 8px gray;
    }
    .item_img {
      //background-image: image_url("empty_gallery.png");
      //background-size: cover;
      position: relative;
      height: 80%;
      width: 100%;
    }
    .item_texts {
      height: 20%;
      width: 100%;
      position: relative;
      display: block;
      > div {
        height: 100%;
        color: gray;
        display: inline-block;
        span, a {
          position: relative;
          display: inline-block;
          top: 50%;
          transform: translateY(-50%);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .hobby_item_title {
        span {
          font-size: 1.8rem;
          width: 12rem;
          @media(min-width: $sm-width) {
            width: 24rem;
          }
        }
      }
      .hobby_item_edits {
        float: right;
        span, a {
          font-size: 1.5rem;
          height: 1.5rem;
          vertical-align: top;
          //font-family: "微软雅黑";
          padding-right: 0.8rem;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}

#hobby_empty_item {
  > div {
    border: 0.3rem dashed lightgrey;
    .hobby_empty_item_texts {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: lightgrey;
      p:first-child {
        font-size: 3rem;
      }
      p:nth-child(2) {
        font-size: 2rem;
      }
    }
  }
  > div:hover {
    border-color: #aaa;
    .hobby_empty_item_texts {
      p {
        color: #aaa;
      }
    }
  }
}

.hobby_gallery_info, .hobby_gallery_tips {
  margin: 2rem 0;
  border: solid 1px #ddd;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #fcfcfc;
  @media(min-width: $sm-width) {
    padding: 2rem 1rem;
  }
}

.hobby_gallery_tips {
  position: relative;
  height: auto;
  display: none;
  @media(min-width: $sm-width) {
    display: block;
    height: 20rem;
  }
  p {
    position: relative;
    font-size: 2rem;
    height: 2rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, -50%);
    color: #888;
  }
}

.hobby_gallery_info {
  .hobby_gallery_title {
    padding: 0 0.5rem;
    > div {
      padding-bottom: 1rem;
      font-size: 2.5rem;
      color: #444;
      border-radius: 1rem;
      margin: 1rem 0;
      text-align: center;
      font-weight: bold;
    }
  }
  .hobby_gallery_title_edits {
    position: relative;
    > div:first-child {
      width: 100%;
    }
    > div:nth-child(2) {
      width: 100%;
      > textarea {
        resize: none;
        width: 100%;
        height: 10rem;
      }
    }
    > div {
      display: block;
      > label {
        color: #555;
      }
      > input {
        margin: 0.5rem 0;
        border-top: none;
        border-left: none;
        border-right: none;
        background: none;
        &:focus {
          border-top: none;
          border-left: none;
          border-right: none;
        }
      }
    }
    button {
      margin-top: 1rem;
      float: right;
    }
  }
}

.hobby_selected_pictures_title {
  padding: 1rem;
  font-size: 1.8rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  span, .hobby_selected_pictures_refresh {
    color: #f88;
    z-index: 1;
    background-color: white;
    position: absolute;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    tansform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .hobby_selected_pictures_refresh {
    left: 100%;
    cursor: pointer;
    padding-left: 2rem;
    background: white;
    button {
      padding: 0;
      border: none;
      background: white;
      font-size: 2rem;
    }
  }

  > hr {
    border-color: #f88;
  }
}

.hobby_selected {
  margin: 0 -3rem;
  height: 60rem;
  position: relative;
  overflow-y: scroll;
  background-color: #fffafa;
  border-radius: 2rem;
  @media(min-width: $sm-width) {
    margin: 0 -1rem;
  }

  .hobby_selected_picture_item, .hobby_uploaded_picture_item {
    position: relative;
    float: left;
    width: 44%;
    margin: 1.2rem;
    border: solid 1px #eee;
    border-radius: 1rem;
    &:hover {
      background-color: #eee;
    }
    @media(min-width: $sm-width) {
      width: 29%;
    }
    img {
      width: 100%;
      height: 21rem;
      padding: 1rem;
      @media(min-width: $sm-width) {
        height: 23rem;
      }
    }
    .hobby_selected_picture_item_name {
      padding: 0 0.2rem;
      display: inline-block;
      width: 85%;
      overflow: hidden;
      white-space: nowrap;
      word-break: keep-all;
      text-overflow: ellipsis;
      font-size: 1.6rem;
      color: #666;
    }
    form {
      display: inline-block;
      float: right;
      .hobby_selected_picture_item_close {
        height: 1.6rem;
        font-size: 1.6rem;
        padding-right: 0.5rem;
        background: none;
        border: none;
      }
    }
    .hobby_selected_picture_bar {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      tansform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      .hobby_selected_picture_bar_progress_bg {
        position: absolute;
        top: 50%;
        tansform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        height: 5rem;
        width: 100%;
        //background-color: #888888cc;
        background-color: #888888;
        opacity: 0.75;
        z-index: 10;
        .hobby_selected_picture_bar_progress {
          height: 5rem;
          width: 0%;
          //background-color: #44ff4466;
          background-color: #44ff44;
          opacity: 0.375;
          z-index: 11;
        }
        .hobby_selected_picture_bar_tips {
          position: absolute;
          display: inline-block;
          font-size: 2.5rem;
          //color: #ffffffaa;
          color: #ffffff;
          opacity: 0.625;
          z-index: 12;
          left: 50%;
          top: 50%;
          tansform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
        }
      }

    }
  }
}

.hobby_edits {
  margin: 3rem 0;
  float: right;
  * {
    margin-left: 1rem;
  }
  .hobby_uploader {
    position: relative;
    #hobby_chooser {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      margin-left: -0.04rem;
      width: 6rem;
    }
  }
}

.hobby_gallery_show_body {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  width: 100%;
  > div {
    position: relative;
    box-shadow: 0 0 20px #000;
  }
  > div:first-child {
    height: 10%;
  }
  .hobby_gallery {
    height: 70%;
    box-shadow: none;
  }
  .hobby_gallery_show_picture_infos {
    height: 20%;
  }
}

.hobby_gallery_show_top_container {
  background-color: #333;
  z-index: 110;
  .hobby_gallery_show_top {
    position: relative;
    height: 100%;
    .hobby_gallery_show_back, .hobby_show_gallery_title, .hobby_gallery_show_title_icon {
      color: white;
      font-size: 3rem;
      line-height: 3rem;
      display: inline-block;
      position: relative;
      margin-left: 1rem;
      top: 50%;
      tansform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .hobby_gallery_show_title_icon {
      float: right;
      margin-right: 2rem;
      position: relative;
    }
  }
}

.hobby_show_gallery_info {
  position: fixed;
  height: 0;
  top: -11%;
  left: 0;
  display: block;
  opacity: 0;
  z-index: 109;
  padding: 0;
  > div {
    box-shadow: 0 0 20px #000;
    background-color: #333;
  }
  * {
    color: white;
  }
  .hobby_show_gallery_info_title {
    font-size: 2rem;
    padding: 2rem 3rem 1rem;

  }
  .hobby_show_gallery_info_content {
    font-size: 1.6rem;
    padding: 1rem 3rem 2rem;
    display: inline-block;
    max-width: 60%;
    @media(min-width: $sm-width) {
      max-width: 80%;
    }
  }
  .hobby_picture_edits_top {
    color: white;
    font-size: 1.8rem;
    position: absolute;
    display: inline-block;
    right: 0;
    //padding-right: 2rem;
    //float: right;
    margin-right: 1rem;
    > * {
      display: inline-block;
    }
    button {
      background: none;
      border: none;
    }
  }

}

.hobby_gallery {
  padding: 1.5rem 0;
  * {
    height: 100%;
  }
  .hobby_gallery_item {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    > div {
      display: none;
    }
  }
  .hobby_picture_empty {
    display: inline-block;
    color: white;
    font-size: 4rem;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    tansform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.hobby_picture_title {
  color: white;
  font-size: 2rem;
  margin: 1.5rem 1.5rem 0.5rem;
  position: relative;
  .hobby_picture_name {
    display: inline-block;
    width: 20rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
  }
  .hobby_picture_name_editor {
    display: none;
    * {
      display: inline-block;
    }
    input {
      //height:2.5rem;
      width: 15rem;
    }
  }
  .hobby_picture_time {
    vertical-align: top;
    margin-left: 1rem;
    font-size: 1.6rem;
  }
  .hobby_picture_edits {
    color: white;
    font-size: 1.8rem;
    float: right;
    .hobby_picture_edits_like {
      &:before {
        padding-right: 0.5rem;
      }
      background: none;
      border: none;
    }
  }
}

.hobby_picture_content {
  color: white;
  font-size: 1.8rem;
  margin: 0 1.5rem;
}

.hobby_picture_content_editor {
  margin: 0 1.5rem;
  display: none;
  textarea {
    display: inline-block;
    resize: none;
    width: 80%;
    height: 5rem;
    @media(min-width: $sm-width) {
      height: 10rem;
    }
  }
  button {
    margin-bottom: 2rem;
    //float: right;
  }
}

//个人信息样式
.bg_profile_div {
  background-color: #fafafa;
  padding-bottom: 5rem;
  > div > section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 2rem 20%;
  }
  .header_profile {
    //background-image: image_url("sky.png");
    //background-size: cover;
    text-align: center;
    position: relative;
    //background: none;
    .bg_image_div {
      z-index: 0;
    }
    .avatar_header_border_profile_row {
      position: relative;
      .avatar_header_border_profile {
        box-sizing: content-box;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: #ffffffcc;
        margin: auto;
        padding: 0.4rem;
        text-align: center;
        .avatar_header_profile {
          border-radius: 50%;
          height: 10rem;
          vertical-align: middle;
          width: 10rem;
        }
      }
    }
    .name_header_profile_row {
      position: relative;
      padding: 1rem auto;
      .name_header_profile {
        font-size: 3rem;
        font-weight: bold;
        height: 3rem;
        display: inline-block;
        .sex_header_profile {
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
          font-size: 1.5rem;
          line-height: 1.5rem;

        }
        .birthday_header_profile {
          height: 1.5rem;
          width: 1.5rem;
          margin-left: -0.5rem;
        }
      }
    }
    .say_words_profile {
      position: relative;
      font-size: 1.7rem;
      margin-top: 1.5rem;
      color: #666;
    }
    .hr_header_profile {
      position: relative;
      margin: 1rem auto;
      border-top: 1px solid #dfdfdf;
    }
  }
  .main_title_profile, .shared_profile {
    margin-top: 3rem;
  }
  .connection_profile, .hobbies_profile, .sub_likes_profile, .shared_profile, .main_title_profile {
    background-color: white;
    padding: 1.5rem;
    @media (min-width: $md-width) {
      > div {
        padding: 0 1rem;
        display: inline-block;
        width: 50%;
        float: left;
        .h_divider_profile {
          display: none;
        }
      }
    }
    > div {
      p {
        font-size: 2.5rem;
        color: #444;
        line-height: 2.5rem;
        margin: 0;
        //font-weight: bold;
        padding: 1.5rem;
      }
      img {
        height: 2.3rem;
        widht: 2.3rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
      .v_divider_profile {
        margin: 0 2rem;
        font-size: 2rem;
        border-left: 1px solid #eee;
      }
      .info_profile {
        font-size: 2.3rem;
        color: #666;
      }
      .h_divider_profile {
        margin: 1.5rem 0;
        border-top: 1px solid #eee;
      }
    }
  }

  .connection_profile {
    .position_connection_profile {
      img {
        -webkit-filter: opacity(70%);
        filter: opacity(70%);
      }
    }
  }
  .shared_profile {
    .shared_buttons_profile {

      float: right;
      width: auto;
      padding-right: 1rem;
      > div {
        display: inline-block;
        a {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 3rem;
          background-size: cover;
          vertical-align: bottom;
        }
        .ssb-qq {
          background-image: image_url("QQ.png");
        }
        .ssb-weibo {
          background-image: image_url("weibo.png");
        }
        .ssb-wechat {
          background-image: image_url("wechat.png");
        }
      }
      span {
        font-size: 1.5rem;
        color: #999;
      }
      span:first-child:hover {
        text-shadow: 1px 1px 1px lightgrey;
      }
      img {
        margin-right: 2rem;
      }
    }
  }
  @media (min-width: $sm-width) {
    .hobbies_profile, .sub_likes_profile {
      > div {
        img {
          height: 4rem;
          widht: 4rem;
          margin-left: 1rem;
        }
      }

    }
  }
}

//留言板布局
.message_post {
  background-color: #fbfbfb;
  border-radius: 4rem;
  padding: 3rem;
  margin: 2rem 0;
  p:first-child {
    font-size: 2rem;
    font-weight: bold;
  }
  form {
    > div {
      margin: 2rem auto;
      .form-group {
        display: inline-block;
        width: 100%;
        input {
          font-size: 1.8rem;
          height: 3.5rem;
          margin: auto 1rem;
          padding: 1rem;
          background-color: #fcfcfc;
          border-color: #eee;
          display: inline-block;
          width: 60%;
        }
        label {
          color: #666;
        }
        button {
          background: none;
          border: none;
          //float:right;
        }
      }
    }
    @media (min-width: $md-width) {
      > div {
        display: table;
        .form-group {
          width: auto;
          input {
            display: table-cell;
            width: 70%;
          }
        }
      }
      textarea {
        height: 10rem;
      }
    }
    textarea {
      display: block;
      font-size: 1.8rem;
      width: 96%;
      height: 20rem;
      resize: none;
      margin: auto;
      background-color: #fcfcfc;
      border-color: #eee;
    }
    > button {
      margin-top: 2rem;
      margin-right: 2rem;
      float: right;
      width: 15rem;
      color: #666;
    }
  }
}

.comment_item_div {
  background-color: #fafafa;
  border-radius: 2rem;
  margin-top: 1rem;
  //.comment_hr {
  //  border-top: 1px solid #eee;
  //}
  .media {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .media-left {
      img {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
      }
    }
  }

}

//素材样式
#material_choose_section {
  display: block;
  width: 100%;
  margin: 2rem auto;
  div {
    position: relative;
    margin: 0.5rem 0.5%;
    padding-bottom: 13.5%;
    border-radius: 1rem;
    float: left;
    width: 24%;
    text-align: center;
    a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    p {
      display: block;
      position: absolute;
      width: 100%;
      color: white;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media (min-width: $sm-width) {
    div {
      margin: 1rem 0.5%;
      padding-bottom: 9%;
      width: 15.5%;
      p {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
  > div:nth-child(1) {
    background-color: $all_1;
  }
  > div:nth-child(2) {
    background-color: $code_2;
  }
  > div:nth-child(3) {
    background-color: $english_3;
  }
  > div:nth-child(4) {
    background-color: $read_4;
  }
  > div:nth-child(5) {
    background-color: $music_5;
  }
  > div:nth-child(6) {
    background-color: $paint_6;
  }
  > div:nth-child(7) {
    background-color: $plant_7;
  }
  > div:nth-child(8) {
    background-color: $fitness_8;
  }
  > div:nth-child(9) {
    background-color: $game_9;
  }
}

#material_main {
  #material_main_content_section {
    margin-top: 2rem;

    .material_main_content {
      position: relative;
      width: 50%;
      padding-bottom: 50%;
      float: left;
      border: 0.7rem solid white;
      @media (min-width: $sm-width) {
        width: 33.333333%;
        padding-bottom: 33.3333333%;
        //border: 1rem solid white;
      }
      > div {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1.2rem;

        @media (min-width: $sm-width) {
          padding: 1.5rem;

        }
        border-radius: 2rem;
        background-color: $code_2;
        &:hover {
          box-shadow: 0 0 0.5rem gray;
        }
        * {
          color: white;
        }
        p:first-child {
          font-style: italic;
          font-weight: bold;
          font-size: 2.5rem;
          margin-bottom: 0.5rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        p:nth-child(2) {
          font-size: 1.8rem;
          height: 65%;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        .material_main_content_time {
          font-size: 1.5rem;
          position: absolute;
          float: right;
          bottom: 1.2rem;
          right: 1.2rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        form {
          display: inline-block;
        }
        .material_main_content_delete {
          font-size: 3rem;
          position: absolute;
          float: left;
          bottom: 1.2rem;
          left: 1.2rem;
          background: none;
          border: none;
        }
      }
    }
  }
}

//注册,登录，头像,信息页面
.register_title, #login_title, #login_profile_title, #avatar_title, #reset_password_title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #555;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.register_content, .login_content, .login_profile_content, .avatar_content, .reset_password_content {
  text-align: center;
  margin-bottom: 4rem;
  form {
    margin: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 1px solid #eee;
    padding: 4rem;
    background-color: #fcfcfc;
    width: 100%;
    @media (min-width: $sm-width) {
      width: 50%;
    }
    .error_explanation {
      color: #ff0e47;
      .alert {
        font-size: 1.6rem;
      }
      ul {
        text-align: left;
        margin-left: 25%;
      }
    }
    .form-group {
      * {
        display: inline-block;
      }
      label {
        font-size: 1.8rem;
        color: #444;
        width: 25%;

      }
      input {
        width: 70%;
        background-color: #fdfdfd;
        border-color: #ddd;
      }
      margin-bottom: 4rem;
      .field_with_errors {
        @extend .has-error;
        .form-control {
          color: #ff0e47;
          border-color: #ff0e47;
        }
      }
      .field_with_errors:nth-child(1) {
        width: 25%;
        label {
          width: auto;
        }
      }
      .field_with_errors:nth-child(2) {
        width: 70%;
        input {
          width: 100%;
        }
      }
    }
    .row {
      * {
        margin-left: 2rem;
        margin-bottom: 1rem;
      }
    }
    .checkbox {
      margin-bottom: 4rem;
      span {
        font-weight: normal;
        font-size: 1.8rem;
      }
    }
    .login-profile-logout {
      margin-left: 2rem;
    }

  }
}

.avatar_content, .reset_password_content {
  form {
    padding: 3rem;
    .avatar_item {
      border: solid 1px #eee;
      padding: 0.5rem;
      margin: 0.2rem;
      float: left;
      position: relative;
      img {
        height: 6.5rem;
        widht: 6.5rem;
      }
      .avatar_choose {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        span {
          display: none;
          font-size: 3rem;
          width: 3rem;
          height: 3rem;
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          text-shadow: 0 0 8px #000;
        }
      }
    }
    button {
      margin-top: 2rem;
    }
  }
}

.register_title, #login_title, #login_profile_title, #hobby_title_hr, #reset_password_title {
  & + .flash_tips {
    margin: auto;
    width: 100%;
    font-size: 1.6rem;
    @media (min-width: $sm-width) {
      width: 50%;
    }
  }
}

#register_success_body {
  background-color: #f1f1f1;
  padding: 3rem;
  position: relative;
  .flash_tips {
    padding: 2rem;
    font-size: 2rem;
  }
  .register_success_content {
    width: 90%;
    padding-bottom: 50%;
    @media (min-width: $sm-width) {
      width: 60%;
      padding-bottom: 35%;
    }
    margin: auto;
    position: relative;
    //background-image: image_url("congratulation.png");
    //background-size: cover;
  }
}