// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import 'bootstrap-sprockets';
@import 'froala_editor.min';
@import 'froala_style.min';
@import 'plugins/colors.min';
@import 'plugins/char_counter.min';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'owl.carousel';
@import 'owl.theme.default';

$bootstrap-pill-blue: #337ab7;
$footer_background: #2d2d2d;
$footer_index_gray: #b6b6b6;
$footer_index_dark_gray: #4e4e4e;
$home-icon-intro: #ffc09f;
$home-content-intro: #666;
$header-xs-list: #666;
$micropost_time: #737350;

$all_1: #ddd;
$code_2: #8dc3ea;
$english_3: #a3a380;
$read_4: #cfd0bc;
$music_5: #7296e5;
$paint_6: #6fc018;
$plant_7: #ef5e87;
$fitness_8: #34352c;
$game_9: #efde83;

$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: $lg-width) {
  html {
    font-size: 10px;
    .modal {
      width: 1170px;
      margin: auto;

    }
  }

}

@media (max-width: $lg-width) and (min-width: $md-width) {

  html {
    font-size: 9px;
    .modal {
      width: 970px;
      margin: auto;
    }
  }
}

@media (max-width: $md-width) and (min-width: $sm-width) {
  html {
    font-size: 8px;
    .modal {
      width: 750px;
      margin: auto;
    }
  }

}

@media (max-width: $sm-width) {
  html {
    font-size: 7px;
  }
}

//头尾样式
#logo_static_pages, #nav_static_pages {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  cursor: pointer;
}

#logo_static_pages {
  display: inline-block;
  line-height: 0.8;
  font-size: 4.5rem;
  #name1 {
    color: $bootstrap-pill-blue;
  }
  #name2 {
    color: lightgray;
  }
}

#nav_static_pages {
  font-size: 2.4rem;
  margin-top: 3rem;
}

#nav-xs-static-pages {
  position: fixed;
  right: 2rem;
  top: 2rem;
  float: left;
  z-index: 10;
  text-align: center;
  width: 8rem;
  height: 8rem;
  border: 0.15rem solid white;
  border-radius: 8rem;
  background-color: $bootstrap-pill-blue;
  box-shadow: 1px 1px 0.5rem gray;
  span {
    position: relative;
    top: 50%;
    transform: translateY(-53%);
    font-size: 4rem;
    color: white;
  }

}

#nav-xs-list-static-pages {
  display: none;
  position: fixed;
  right: 4rem;
  top: 4rem;
  z-index: 9;
  float: left;
  padding: 0;
  height: 60%;
  width: 25rem;
  overflow: auto;
  opacity: 0.7;
  background-color: white;
  border: 1px solid lightgray;
  li {
    font-size: 3.5rem;
    list-style: none;
    margin: 2rem 4rem 2rem;
    cursor: pointer;
    a {
      margin-left: 2rem;
      text-decoration: none;
      color: $header-xs-list;

    }
    &.active {
      * {
        color: $bootstrap-pill-blue;
      }
    }
    //.active {
    //  span, a {
    //  }
    //}
  }
}

#footer_static_page {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  //margin-top: 3rem;
  background-color: $footer_background;
  .container {
    div {
      text-align: center;
      font-size: 2rem;
      color: $footer_index_dark_gray;
      &:first-child {
        color: $footer_index_gray;
        a {
          text-decoration: none;
          color: $footer_index_gray;
          &:hover {
            color: $bootstrap-pill-blue;
          }
        }
      }
      a {
        text-decoration: none;
        color: $footer_index_dark_gray;
        &:hover {
          color: $bootstrap-pill-blue;
        }
      }
    }
  }
}

#banner_img_static_page {
  position: relative;
  right: 0;
  left: 0;
  height: 35rem;
  background-image: image_url("time.jpg");
  background-size: cover;
}

//首页样式
#intro_home {
  margin: 5rem 0 10rem;
  > div {
    .icon-intro-home {
      margin: auto;
      text-align: center;
      width: 10rem;
      height: 10rem;
      border-radius: 6rem;
      color: white;
      background-color: $home-icon-intro;
      span {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 6rem;
        //@media (max-width: 992px) {
        //  font-size: ;
        //}
      }
    }
    .title-intro-home {
      display: flex;
      justify-content: center;
      //text-align: center;
      margin: 2rem auto auto;
      width: 100%;
      line-height: 2;
      font-size: 2.4rem;
      font-weight: bold;
      color: #555;
    }
    .content-intro-home {
      line-height: 1.5;
      color: $home-content-intro;
      font-size: 1.8rem;
      a {
        color: $home-content-intro;
      }
    }
  }
  //div+div:before{
  //  display:inline-block;
  //  content:"";
  //  height:50px;
  //  width:1px;
  //  border:1px solid #eee;
  //}
}

.cite_block_home {
  margin-top: 5rem;
  padding-bottom: 0;
  line-height: 0.5;
  border-left-color: $bootstrap-pill-blue;
  p {
    line-height: 0.5;
    color: $bootstrap-pill-blue;
    font-size: 3rem;
  }
  small {
    font-size: 1.4rem;
  }
}

#content_home {
  margin-top: 5rem;
  margin-bottom: 5rem;
  > div {
    > div {
      padding-bottom: 33.333333333333%;
      border: 0.5rem solid transparent;
      > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        overflow: hidden;
        background-size: cover;
        border-radius: 3rem;
        &:hover {
          box-shadow: 1px 1px 1.5rem gray;
        }
      }
      #micropost_content_home {
        background-image: image_url("tips2.jpg");
        color: $micropost_time;
        overflow: hidden;

        p {
          font-size: 1.3rem;
          margin: 26% 20% 10% 17%;
          height: 41%;
          overflow-y: scroll;
          &::-webkit-scrollbar{
            display:none;
          }
          #micropost_content_first_word_home {
            font-size: 3rem;
            height:3rem;
            display:inline-block;
            float: left;
            margin-top: -2%;
            vertical-align: top;
            color: #535330;
          }
        }
        #micropost_time_home {
          font-size: 1.2rem;
          display: block;
          margin-left: 33%;
          margin-right: 13%;
          padding-top: 3%;
          width:50%;
          border-top: 0.15rem dotted $micropost_time;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      #article_home {
        background-image: image_url("notebook4.jpg");
        #article_title_home {
          margin: 16% 23% 1% 25%;
          font-size: 1.2rem;

        }
        #article_content_home {
          font-size: 1rem;

          margin: 0% 23% 3% 25%;
          height: 55%;
          overflow-y: scroll;
          &::-webkit-scrollbar{
            display:none;
          }
        }
        #article_time_home {
          margin: 0% 23% 15% 25%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 1rem;

        }
      }
      #message_board_home {
        color: #cecece;
        background-image: url("messageboard5.jpg");

        #message_board_name_home {
          font-size: 1.2rem;

          margin: 39% 17% 0.4% 21%;
        }
        #message_board_content_home {
          font-size: 1rem;

          margin: 0% 17% 0 21%;
          height: 25%;
          overflow-y: scroll;
          &::-webkit-scrollbar{
            display:none;
          }
        }
        #message_board_time_home {
          font-size: 1rem;

          margin: 2% 17% 15% 40%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

        }
      }
      #materials_home {
        #materials_img_home {
          height: 61.8%;
          background-image: url('materials.jpg');
          background-size: cover;
        }
        #materials_content_home {
          height: 38.2%;
          background-color: #a88e6b;
          text-align: center;
          p {
            font-size: 1.6rem;
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            -webkit-transform: translateY(-100%);
            top: 50%;
            width: 80%;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: white;
            overflow: hidden;

          }
        }
      }

      #games_img_1_home {
        background-image: image_url("test_game.jpg");
      }
    }

  }
}

//微博,日志侧边样式

#micropost_aside, #article_aside, #material_aside {

  position: sticky;
  position: -webkit-sticky;
  margin-bottom: 3rem;
  top: 0;
  #post_micropost_section, #post_article_section, #post_material_section {
    margin-top: 2rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    border: 1px solid lightgray;
  }
  #article_main_div {
    margin-bottom: 5rem;
  }
}

.modal {
  .modal-dialog {
    width: 95%;
    top: 5%;
    .modal-content {
      .modal-header {
        padding: 2rem;
        button.close {
          font-size: 3rem;
        }
        span, p {
          font-size: 3rem;
          color: #555;
        }
      }
      .modal-body {
        margin: auto 1rem;
        select{
          height:4rem;
          margin-bottom: 2rem;
        }

        textarea {
          font-size: 2rem;
          resize: none;
          height: 30rem;
          //width:80%;
          margin-bottom: 2rem;
        }
        label {
          line-height: 1;
          margin-bottom: 2.5rem;
          font-size: 2rem;
        }
        input {
          font-size: 3rem;
          height: 5rem;
          margin-bottom: 2.5rem;
        }
      }
      .modal-footer {
        * {
          margin: 0.5rem;
        }
        span {
          font-size: 2rem;
          color: #555;
        }
        button {
          border-radius: 2rem;
          font-size: 2rem;
          width: 20%;
        }
      }
    }
  }
}

#search_micropost_section, #search_article_section, #search_material_section {
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 1rem 1rem 3rem 1rem;
  p:first-child {
    margin-top: 1rem;
    color: #666;
    font-size: 1.6rem;
    font-weight: bold;
  }

  #select_search_micropost_form, #select_search_article_form, #select_search_material_form {
    label {
      color: #777;
    }
  }
}

#micropost_footer, #article_footer,#material_footer {
  margin-bottom: 8rem;
  z-index: 11;
  position: relative;
  div {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: #eee;
    div {
      float: left;
      display: inline-block;
      height: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-30%);
      width: 50%;
      p {
        font-size: 2rem;
        color: #555;
        display: block;
        text-align: center;
      }
    }
  }
}

//微博正文,日志,素材列表样式

#micropost_main, #material_main {
  margin-bottom: 5rem;
}

#micropost_main_title, #article_main_title, .main_title_messageboard, #material_main_title {
  font-size: 2.5rem;
  border-bottom: 0.1rem solid lightgray;
  position: sticky;
  position: -webkit-sticky;

  z-index: 8;
  top: -1px;
  background-color: white;
  #article_main_title_back {
    cursor: pointer;
  }
  > span {
    display: inline-block;
    padding: 2rem 0.5rem 0.5rem 2rem;
    color: $bootstrap-pill-blue;
  }
  > span:nth-child(1) {
    display: none;
  }
  > span:nth-child(2) {
    border-bottom: 0.1rem solid $bootstrap-pill-blue;
    > span {
      vertical-align: middle;
      color: #539ad7;
      font-size: 1.8rem;

    }
  }

}

#micropost_main_content, #micropost_main_comments {
  border: 0.1rem solid #dfdfdf;
}

#article_main_content {
  border-bottom: 0.1rem dashed #aaa;
}

#micropost_main_content, #article_main_content {
  background-color: #fefefe;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#micropost_main_comments {
  background-color: #f6f6f6;
  border-radius: 1rem;
}

//所有媒体的样式,微博和留言
.media {
  padding: 1rem 1.5rem;
  .media-left {
    img {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
    }
    .media-object {
      background-image: url("avatar.jpg");
      background-size: cover;
    }
    #micropost_content_avatar {
      border-radius: 0.5rem;
      height: 6rem;
      width: 6rem;
    }
    #micropost_comments_avatar {
      border-radius: 0.25rem;
      height: 3rem;
      width: 3rem;
    }
  }
  .media-body {
    .media-heading {
      color: #333
    }
    #article_title {
      font-size: 3rem;
      span {
        font-size: 1.6rem;
        color: #999;
      }
      span:first-child {
        margin-left: 1rem;
      }
      span:nth-child(2) {
        float: right;
      }
    }
    #micropost_content_username, #messageboard_username {
      font-size: 2rem;
      > span {
        float: right;
        color: #666;
        font-size: 1.6rem;
        .delete_content_messageboard {
          cursor: pointer;
          &:hover {
            color: $bootstrap-pill-blue;
          }
        }
      }
    }
    #micropost_comments_username {
      font-size: 1.6rem;
    }
    #article_content {
      font-size: 2rem;
      color: #666;
    }
    #micropost_content_content, #messageboard_content {
      font-size: 1.8rem;
      color: #666;
    }
    #micropost_comments_content {
      font-size: 1.6rem;
      color: #666;
    }
    .micropost_edit_items {
      span {
        color: #777;
        float: right;
        cursor: pointer;
      }
      .micropost_post_time {
        cursor: default;
      }
    }
    #micropost_content_edit_items {
      span {
        font-size: 1.5rem;
        margin: 1rem 1rem 0 1rem;
        height: 2rem;
      }
    }
    #micropost_comments_edit_items {
      span {
        font-size: 1.3rem;
        margin: 0.5rem 1rem 0 1rem;
        height: 1.5rem;
      }
    }
    & + hr {
      border-top: 1px solid #d3d3d3;
      margin-bottom: 0.5rem;
    }
  }
}

#micropost_comments_more {
  font-size: 1.6rem;
  color: gray;
  text-align: center;
  margin-bottom: 0.8rem;
}

#micropost_content_more {
  font-size: 2rem;
  color: gray;
  text-align: center;
}

#micropost_empty, #article_empty {
  margin-top: 10rem;
  background-image: url("empty_box2.jpg");
  background-size: cover;
  width: 70%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 70%;
  & + p {
    color: #888;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10rem;
  }
}

//日志分页
#article_paginate {
  display: table;
  margin: 2rem auto;
  span {
    font-size: 2rem;
    input {
      width: 5rem;
    }
  }
}

//写日志页面
#article_write_div {
  display: none;
  section:first-child {
    padding-top: 2rem;
    padding-bottom: 2rem;
    //position:sticky;
    //top:7rem;
    //z-index: 8;
    //background-color: white;
    //label {
    //  font-size: 3rem;
    //  color:#666;
    //}
    input {
      display: table;
      text-align: center;
      margin: auto;
      width: 80%;
      font-size: 3rem;
      height: 5rem;
    }
  }
  section:nth-child(2) {
    min-height: 30rem;

  }
  section:nth-child(3) {
    margin-top: 2rem;
    button, p {
      float: right;
      margin-left: 2rem;
    }
    p {
      font-size: 1.5rem;
      color: #888;
      line-height: 4rem;
    }
  }
}

//froala编辑器
.fr-wrapper > div[style*='z-index: 9999'] {
  position: absolute;
  top: -10000px;
  opacity: 0;
  height: 0;
}

//修复不能正确显示的颜色选中图标
.fr-selected-color {
  font-weight: bold !important;
  font-family: 'Font Awesome 5 Free' !important;
}

//修改工具栏浮动位置
.fr-sticky-on, .fr-sticky-off {
  position: sticky !important;
  position: -webkit-sticky !important;

  //top: 5.8rem !important;
  top: 5.8rem !important;

}

//娱乐版块
#banner_hobby {

  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), #000 url("time.jpg") no-repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-position: center center;
  margin-top: 2rem;
}

#main_hobby {
  margin-bottom: 5rem;
}

#empty_item_of_hobby, .item_of_hobby {
  display: inline-block;
  float: left;
  width: 33.3333%;
  padding-bottom: 25%;
  @media (max-width: $md-width) {
    width: 50%;
    padding-bottom: 37.5%;
  }
  position: relative;
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

  }
}

.item_of_hobby {
  > div {
    margin: 1.5rem;

    &:hover {
      box-shadow: 0 0 8px gray;
    }
    .gallery_delete_of_hobby {
      position: absolute;
      color: $bootstrap-pill-blue;
      top: 1rem;
      right: 1rem;
      display: inline-block;
      font-size: 4rem;
      float: right;
    }
    .item_img {
      background-image: url("test_game.jpg");
      background-size: cover;
      height: 80%;
      width: 100%;
    }
    div {
      height: 20%;
      width: 100%;
      position: relative;
      display: table;
      span {
        display: table-cell;
        color: gray;
        font-size: 1.8rem;
        vertical-align: middle;
      }
    }
  }
}

#empty_item_of_hobby {
  > div {
    margin: 1.7rem;
    border: 0.3rem dashed lightgrey;
    &:hover {
      border: 0.3rem dashed #aaa;
      p {
        color: #aaa;
      }
    }
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 6rem;
      color: lightgrey;
    }
  }
}

//个人信息样式
.bg_profile_div {
  background-color: #fafafa;
  padding-bottom: 5rem;
  > div > section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 2rem 20%;
  }
  .header_profile {
    background-image: url("sky.jpg");
    background-size: cover;
    text-align: center;
    .row:nth-child(1) {
      .avatar_header_border_profile {
        box-sizing: content-box;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: #ffffffcc;
        margin: auto;
        padding: 0.4rem;
        text-align: center;
        .avatar_header_profile {
          border-radius: 50%;
          height: 10rem;
          vertical-align: middle;
          width: 10rem;
        }
      }
    }
    .row:nth-child(2) {
      padding: 1rem auto;
      .name_header_profile {
        font-size: 3rem;
        font-weight: bold;
        height: 3rem;
        display: inline-block;
        .sex_header_profile {
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
          font-size: 1.5rem;
          line-height: 1.5rem;

        }
        .birthday_header_profile {
          height: 1.5rem;
          width: 1.5rem;
          margin-left: -0.5rem;
        }
      }
    }
    .say_words_profile {
      font-size: 1.7rem;
      margin-top: 1.5rem;
      color: #666;
    }
    .hr_header_profile {
      margin: 1rem auto;
      border-top: 1px solid #dfdfdf;
    }
  }
  .main_title_profile, .shared_profile {
    margin-top: 3rem;
  }
  .connection_profile, .hobbies_profile, .sub_likes_profile, .shared_profile, .main_title_profile {
    background-color: white;
    padding: 1.5rem;
    @media (min-width: $md-width) {
      > div {
        padding: 0 1rem;
        display: inline-block;
        width: 50%;
        float: left;
        .h_divider_profile {
          display: none;
        }
      }
    }
    > div {
      p {
        font-size: 2.5rem;
        color: #444;
        line-height: 2.5rem;
        margin: 0;
        //font-weight: bold;
        padding: 1.5rem;
      }
      img {
        height: 2.3rem;
        widht: 2.3rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
      .v_divider_profile {
        margin: 0 2rem;
        font-size: 2rem;
        border-left: 1px solid #eee;
      }
      .info_profile {
        font-size: 2.3rem;
        color: #666;
      }
      .h_divider_profile {
        margin: 1.5rem 0;
        border-top: 1px solid #eee;
      }
    }
  }

  .connection_profile {
    .position_connection_profile {
      img {
        -webkit-filter: opacity(70%);
        filter: opacity(70%);
      }
    }
  }
  .shared_profile {
    .shared_buttons_profile {

      float: right;
      width: auto;
      padding-right: 1rem;
      span {
        font-size: 1.5rem;
        color: #999;
      }
      span:first-child:hover {
        text-shadow: 1px 1px 1px lightgrey;
      }
      img {
        margin-right: 2rem;
      }
    }
  }
  @media (min-width: $md-width) {
    .hobbies_profile, .sub_likes_profile {
      > div {
        img {
          height: 4rem;
          widht: 4rem;
          margin-left: 1rem;
        }
      }

    }
  }
}

//留言板布局
.post_messageboard {
  background-color: #fbfbfb;
  border-radius: 4rem;
  padding: 3rem;
  margin: 2rem 0;
  p:first-child {
    font-size: 2rem;
    font-weight: bold;
  }
  form {
    @media (min-width: $md-width) {
      > div {
        display: table;
        .form-group {
          input {
            display: table-cell;
            width: 70%;
          }
        }
      }
      textarea {
        height: 10rem;
      }
    }
    > div {
      margin: 2rem auto;
      .form-group {
        display: inline-block;
        input {
          font-size: 1.8rem;
          height: 3.5rem;
          margin: auto 1rem;
          padding: 1rem;
          background-color: #fcfcfc;
          border-color: #eee;
        }
        label {
          color: #666;
        }
      }

    }
    textarea {
      display: block;
      font-size: 1.8rem;
      width: 96%;
      height: 20rem;
      resize: none;
      margin: auto;
      background-color: #fcfcfc;
      border-color: #eee;
    }
    button {
      margin-top: 2rem;
      margin-right: 2rem;
      float: right;
      width: 15rem;
      color: #666;
    }
  }
}

.main_content_messageboard {
  .hr_content_messageboard {
    border-top: 1px solid #eee;
  }
  .media {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

//素材样式
.choose_section_material {
  display: block;
  width: 100%;
  margin: 2rem auto;
  > div {
    position: relative;
    margin: 0.5rem 0.5%;
    padding-bottom: 13.5%;
    border-radius: 1rem;
    float: left;
    width: 24%;
    text-align: center;
    p {
      //img{
      //  height:2rem;
      //  width:2rem;
      //  opacity: 0.5;
      //}
      display: block;
      position: absolute;
      width: 100%;
      color: white;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media (min-width: $sm-width) {
    > div {
      margin: 1rem 0.5%;
      padding-bottom: 9%;
      width: 15.5%;
      p {
        //img{
        //  height:2.5rem;
        //  width:2.5rem;
        //  opacity: 0.3;
        //}
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
  > div:nth-child(1) {
    background-color: $all_1;
  }
  > div:nth-child(2) {
    background-color: $code_2;
  }
  > div:nth-child(3) {
    background-color: $english_3;
  }
  > div:nth-child(4) {
    background-color: $read_4;
  }
  > div:nth-child(5) {
    background-color: $music_5;
  }
  > div:nth-child(6) {
    background-color: $paint_6;
  }
  > div:nth-child(7) {
    background-color: $plant_7;
  }
  > div:nth-child(8) {
    background-color: $fitness_8;
  }
  > div:nth-child(9) {
    background-color: $game_9;
  }
}

#material_main {
  #material_main_content_section {
    margin-top: 2rem;

    .material_main_content {
      position: relative;
      width: 50%;
      padding-bottom:50%;
      float: left;
      border: 0.7rem solid white;
      @media (min-width: $sm-width) {
        width: 33.333333%;
        padding-bottom: 33.3333333%;
        border: 1rem solid white;
      }
      > div {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1.2rem;

        @media (min-width: $sm-width) {
          padding: 1.5rem;

        }
        border-radius: 2rem;
        background-color: $code_2;
        &:hover {
          box-shadow: 0 0 0.5rem gray;
        }
        * {
          color: white;
        }
        p:first-child {
          font-weight: bold;
          font-size: 2.5rem;
          margin-bottom:  0.5rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        p:nth-child(2) {
          font-size: 1.8rem;
          height:65%;
          font-style: italic;
          overflow-y: scroll;
          &::-webkit-scrollbar{
            display: none;
          }
        }
        .material_main_content_time {
          font-size: 1.5rem;
          position: absolute;
          float: right;
          bottom: 1.2rem;
          right: 1.2rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

}
