<!--按照行分别是 1网站索引内容2时间3站点说明,登录内容-->
<footer id="footer_static_page">
  <div class="container">
    <div class="row" id="footer_index_static_page">
      <span><%= link_to "首页", "#" %></span> |
      <span><%= link_to "关于我", "#" %></span>
    </div>
    <div class="row" id="footer_time_static_page">
      <span>@2019 - ROR建站 - 个人网站 - 商业止步</span>
    </div>
    <div class="row" id="footer_login_static_page">
      <span><%= link_to "用户登录", "#" %></span>
    </div>
  </div>
</footer>

<footer id="micropost_footer" class="hidden-md hidden-lg">
  <div>
    <div data-toggle="modal" data-target="#post_micropost_modal" onclick="return false">
      <p class=" fas fa-blog"></p>
      <p>写微博</p>
    </div>
    <div data-toggle="modal" data-target="#search_micropost_modal" onclick="return false">
      <p class="glyphicon glyphicon-search"></p>
      <p>搜索微博</p>
    </div>
  </div>
</footer>
<footer id="article_footer" class="hidden-md hidden-lg">
  <div>
    <div onclick="showArticleWritePage()">
      <p class=" fas fa-newspaper"></p>
      <p>写日志</p>
    </div>
    <div data-toggle="modal" data-target="#search_article_modal" onclick="return false">
      <p class="glyphicon glyphicon-search"></p>
      <p>搜索日志</p>
    </div>
  </div>
</footer>
<footer id="material_footer" class="hidden-md hidden-lg">
  <div>
    <div data-toggle="modal" data-target="#post_material_modal" onclick="return false">
      <p class=" fas fa-blog"></p>
      <p>发布新素材</p>
    </div>
    <div data-toggle="modal" data-target="#search_material_modal" onclick="return false">
      <p class="glyphicon glyphicon-search"></p>
      <p>搜索指定素材</p>
    </div>
  </div>
</footer>
<!--<footer id="messageboard_footer" class="hidden-md hidden-lg">-->
<!--  <div data-toggle="modal" data-target="#write_message_modal" onclick="return false">-->
<!--    <p class="glyphicon glyphicon-comment"></p>-->
<!--    <p>写留言</p>-->
<!--  </div>-->
<!--</footer>-->